#lm_container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9899d6+1,5a5b9e+12,9899d6+87,323656+97,323656+97,1a192b+100 */
  background: rgb(58,108,163); /* Old browsers - in b/w two colors */
  background: -moz-linear-gradient(top, rgba(101,141,198,1) 1%, rgba(15,76,129,1) 10%, rgba(101,141,198,1) 90%, rgb(15,76,129,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(101,141,198,1) 1%,rgba(15,76,129,1) 10%,rgba(101,141,198,1) 90%,rgb(15,76,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(101,141,198,1) 1%,rgba(15,76,129,1) 10%,rgba(101,141,198,1) 90%, rgb(15,76,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#658dc6', endColorstr='#0f4c81',GradientType=0 ); /* IE6-9 */
}

#lessonMenu {
    width: 1000px;
    height: 50px;
    padding: 0px;
    margin: 0 auto;
}

#lessonMenu .bottomLeftHeader {
    width: 440px;
}

#lessonMenu .bottomMidHeader {
    width: 100px;
    /* background-color: darkgray; */
}
 /********* SlideNav *********/
#lessonMenu .bottomRightHeader {
    width: 460px; 
    display: flex;
    align-items: center;
}

.bottomRightHeader button {
  /* display: inline-block; */
  width: 35px;
  height: 35px;
  border: 1px solid #08475f;
  margin-left: 0px;
  margin-right: 0px;
  padding: .2em;
  font-size: 15px;
  color: rgb(0, 0, 0);
  opacity: .75;
  filter: alpha(opacity=75);  /* for IE8 and earlier */
  background: #b8c6d2 /* Old browsers */
}

.bottomRightHeader button:hover, .bottomRightHeader button:active, .bottomRightHeader button:focus{
  /* animation: fade .3s ease cubic-bezier(.25, .25, .50, .75);
  animation-name: fade;
  animation-duration: .75s; */
  /* background-color: rgba(18, 1, 255, 0.226); */
  background: #b8c6d2;
  opacity: 1;
}

.bottomRightHeader .btnGlow  {
  /* background-color: #e5ff00; */
  animation: glowing 2000ms infinite;
  /* -webkit-animation: glowing 2000ms infinite;
  -moz-animation: glowing 2000ms infinite;
  -o-animation: glowing 2000ms infinite; */
}

@keyframes glowing {
  0% { box-shadow: 0 0 0px #b0a7d8; border: 1px solid rgb(90,91,158);}
  50% { box-shadow: 0 0 15px #e5ff00; border: 1px solid #e5ff00;}
  100% { box-shadow: 0 0 0px #b0a7d8; border: 1px solid rgb(90,91,158);}
}
/* @-webkit-keyframes glowing {
  0% { background-color: #b0a7d8; -webkit-box-shadow: 0 0 2px #b0a7d8; }
  50% { background-color: #e5ff00b0; -webkit-box-shadow: 0 0 15px #e5ff00; }
  100% { background-color: #b0a7d8; -webkit-box-shadow: 0 0 2px #b0a7d8; }
}
@-o-keyframes glowing {
  0% { background-color: #b0a7d8; box-shadow: 0 0 2px #b0a7d8; }
  50% { background-color: #e5ff00b0; box-shadow: 0 0 15px #e5ff00; }
  100% { background-color: #b0a7d8; box-shadow: 0 0 2px #b0a7d8; }
}
@-moz-keyframes glowing {
  0% { background-color: #b0a7d8; -moz-box-shadow: 0 0 2px #b0a7d8; }
  50% { background-color: #e5ff00b0; -moz-box-shadow: 0 0 15px #e5ff00; }
  100% { background-color: #b0a7d8; -moz-box-shadow: 0 0 2px #b0a7d8; }
} */

.slideIndicator{
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;

  background: rgb(184, 198, 210);
  padding: 2px;
  font-size: 12px;
  border-radius: 10px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  height: 19px;

  -moz-box-shadow: inset 0 7px 5px -5px 000;
  -webkit-box-shadow: inset 0 7px 5px -5px #000;
  box-shadow: inset 0 7px 5px -5px #000;
}

/********* SlideMenu *********/
.control-buttons {
  margin-left: auto;
  /* display: flex-wrap; 
  flex-shrink: 0;  ie fix for buttons squishing 
  justify-content: flex-start; */
}

/* SlideBtn */
.bottomLeftHeader button {
  width: 10px;
  height: 17px;
  border: 1px solid rgb(8, 71, 95);
  line-height: 0; /* height */
  padding: 0px 2px 0px 2px;
  text-align: center;
  font-size: 10px;
  color: #000;
  transition: all 0.2s;
  
  /* ie fixes */
  float: left; 
  min-width: 21px;
  background: #b8c6d2; /* Old browsers */
  opacity: .75;
  filter: alpha(opacity=75);  /* for IE8 and earlier */
}

.bottomLeftHeader button:hover, .bottomLeftHeader button:active, .bottomLeftHeader button:focus {
  background: #b8c6d2; /* Old browsers */
  outline: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

/********** DISABLED BUTTONS **********/
.bottomLeftHeader .activeBtn {
  background: #ca4c03; /* Old browsers */
  outline: 0;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* This handles disabled for whole course, need to isolate!!! */
.bottomLeftHeader .disabledBtn, button:disabled/* , button[disabled] */ {
  cursor: not-allowed;
  pointer-events: none;
  /* background: #727272; */ /* Old browsers */
  outline: 0;
  opacity: .35;
  filter: alpha(opacity=50);
}