/* Specificity, this applies to everything down the line, #ID applies to just that thing .class (somewhere in b/w) */
html {
    width: 100%; /* see stage-#container, shadow possibly needs 20px? */
    min-width: 1020;
    /* margin: 0 auto; */
}
    
body {
    background-color: lightgray;
    /* font-family: Helvetica, Arial, "sans-serif"; */
    /* font-family: 'Montserrat', sans-serif; */ 
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
    padding: 0; /* 25px works well */
    margin: 0;
    /* make all text unselectable 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

 /* Stacking Order - coder-coder.com/z-index-isnt-working/ */
.headerObj, .footerObj {
    position: relative;
    z-index: 2;
}

.stageObj {
    position: relative;
    z-index: 1;
    background-color: #eee;
}

h1 {
    font-size: 19px;
	color: rgb(247, 232, 234);
    text-shadow: 2px 2px 2px #111;
}

h2 { /* for titles */
    /* font-family: 'billabongregular', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(202, 76, 3);
    /* text-shadow: 2px 2px 2px #333; */
}

h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(102, 187, 23);
    text-shadow: 1px 1px 1px #111;
}

p {
    padding:  10px 10px 10px 10px;
    line-height: 23px;
    margin: 0;
    /* text-indent: 25px; */
    font-size: 16px;
}

/* Normalize */
ul { 
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 30px;

    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#root li {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

video {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);    
    /* margin:0px 0px 0px 0px; */
    /* width: 100%;  of the cell not the img size */
}

button, .btnBase {
    border-radius: 3px;
    font-size: 10px;
    background-color: #555555;
    color: white;
    border: 0;
    opacity: 0.3;
    filter: alpha(opacity=50);  /* for IE8 and earlier */
    cursor: pointer;
}

/* button:hover vs .button:hover (class) in footer.css & PictureViewer.css */
button:hover, .btnBase:hover, button:focus, 
.btnBase:focus, button:active, .btnBase:active {
    background-color:#000000;  /* !important */
    opacity: 0.3;
    filter: alpha(opacity=50);
}

.debugger{
    display: flex;
    padding: 10px; 
    /* background-color: #bceba1; */

}